    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>¡Hola, mundo! 👋</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <p>
              Desarrollador Android con más 3 años de experiencia en la creación de aplicaciones nativas. Actualmente desempeño el cargo de Desarrollador Android en Talana. A lo largo de mi trayectoria, he fortalecido habilidades interpersonales al salir de mi zona de confort, perfeccionando la comunicación y ganando confianza al expresar mis ideas de manera efectiva. Desde el punto de vista técnico, he afrontado desafíos que han guiado mi evolución hacia soluciones efectivas mediante el uso de tecnología, con un enfoque en desarrollar productos mantenibles, testeables, escalables y con impacto positivo en los usuarios.
            </p>
            <p>
              Me apasiona continuar explorando el vasto campo del desarrollo de software, centrándome especialmente en el mundo del desarrollo móvil. Busco adquirir conocimientos de manera integral, abarcando tanto plataformas Android como iOS. Mi interés radica en formar parte de equipos multidisciplinarios con integrantes de diversas nacionalidades, donde podamos compartir perspectivas únicas y colaborar en la creación de aplicaciones con un impacto significativo en la vida cotidiana.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Control de versiones Git | Github 🌳</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Firebase | CI/CD ♻️</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>MVVM | MVP | MVI 🏛️</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Clean architecture ⛩️</strong>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Testing 🐛</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Jetpack Compose 💄</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Kotlin | Java | Swift ✨</strong>
                  </li>
                  <li><i class="bi bi-chevron-right"></i>
                    <strong>Aprendizaje constante 👨🏾‍💻</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
